<template>
  <div class="wrap-all">
    <KarmaGraph></KarmaGraph>
    <PullRequests></PullRequests>
  </div>
</template>
<script>
import KarmaGraph from './KarmaGraph'
import PullRequests from './PullRequests'
import ActionCable from 'actioncable'
import * as d3 from 'd3'

export default {
  name: 'app',
  components: {
    'KarmaGraph': KarmaGraph,
    'PullRequests': PullRequests
  },
  mounted () {
    var cable = ActionCable.createConsumer('/websocket')

    cable.subscriptions.create(
      { channel: 'LevelsChannel' },
      {
        connected: this.connected,
        disconnected: this.disconnected,
        received: this.received,
        rejected: this.rejected
      }
    )
  },
  methods: {
    received (data) {
      d3.json('levels.json').then((newJson) => {
        this.$store.commit('levels', newJson)
      })
    },
    connected () {
      console.log(`Connected`)
    },
    disconnected () {
      console.warn(`Was disconnected.`)
    },
    rejected () {
      console.warn('I was rejected! :(')
    },
    test () {
      d3.json('levels.json').then((data) => {
        data[0]['karmaPosition'] = 1
        // data.pop()
        // data = data.slice(1, 3)

        // if (this.tmp) {
        //   data.push(this.tmp)
        //   this.tmp = null
        // } else {
        //   this.tmp = data.pop()
        // }

        this.$store.commit('levels', data)
      })
    }
  }
}
</script>

<style lang='scss'>
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
