<template>
  <div class="pr-action__wrapper">
    <div class="pr-action-list__developer-info">
      Karma details for: 
      <select v-model="selectedHandle" @change="loadPrActions">
        <option value="" selected="selected" disabled="disabled">Select...</option>
        <option v-for="handle in handles" :key="handle" :value="handle">{{ handle }}</option>
      </select>

      <div class="pr-action-list__count-actions-badge">
        <strong>{{  }}</strong>
      </div>
    </div>

    <div v-for="(actionGroup, repo, k) in pullRequestActionsByRepo" :key="k">
      <h4>{{ repo }}</h4>

      <div v-for="(action, i) in actionGroup" :key="i" class="pr-action-list__item">
        <div class="pr-action-list__development-drift">
          <div
            v-if="action.action == 'opened_pr'"
            v-for="idx in action.changeRelativeAmount"
            v-html="require('../public/chevron.svg')"
            :key="idx"
          ></div>
        </div>
        <div
          class="pr-action-list__action-icon pr-action-list__severity-icon--opened-pr"
          v-if="action.action == 'opened_pr'"
          v-html="require('../public/pull-request-opened.svg')"
        ></div>

        <div
          class="pr-action-list__action-icon pr-action-list__severity-icon--pr-reviewed"
          v-if="action.action == 'review'"
          v-html="require('../public/pr-reviewed.svg')"
        ></div>

        <div class="pr-action-list__review-drift">
          <div
            v-if="action.action == 'review'"
            v-for="idx in action.changeRelativeAmount"
            v-html="require('../public/chevron.svg')"
            :key="idx"
          ></div>
        </div>

        <h3 class="pr-action-list__item-title">{{ action.pullRequestTitle }}</h3>
        <span class="pr-action-list__description">
          At {{ action.at | dateFormat }}
          <span v-if="action.commentCount"> with {{ action.commentCount }} comment(s)</span>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
// import ActionCable from 'actioncable'
import { mapGetters } from 'vuex'
import * as d3 from 'd3'
import moment from 'moment'

export default {
  name: 'PullRequests',
  filters: {
    dateFormat (date) {
      return moment(date).format('LLLL')
    }
  },
  data () {
    return {
      selectedHandle: ''
    }
  },
  methods: {
    received (data) {
      d3.json(`pull-requests.json?handle=${this.handle}`).then((newJson) => {
        this.$store.commit('pull-requests', newJson)
      })
    },
    connected () {
      console.log(`Connected`)
    },
    disconnected () {
      console.warn(`Was disconnected.`)
    },
    rejected () {
      console.warn('I was rejected! :(')
    },
    loadPrActions () {
      d3.json(`pull-requests.json?handle=${this.selectedHandle}`).then((data) => {
        this.$store.commit('pullRequestActions', data)
      })
    }
  },
  computed: {
    ...mapGetters(['handles', 'pullRequestActionsByRepo'])
  }
}
</script>

<style lang='scss'>
@import './assets/styleguide.scss';

.pr-action__wrapper {
  margin: 0 auto;
  padding-left: 50px;
  max-width: 950px;
}

.pr-action-list__developer-info {
  select {
    appearance: none;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
  }
}

.pr-action-list__item {
  margin: 15px 0;
}

.pr-action-list__action-icon {
  float: left;
  width: 30px;
  margin: 5px 0;
  height: 30px;
}

.pr-action-list__development-drift,
.pr-action-list__review-drift {
  fill: #aaa;
  float: left;
  width: 30px;
  height: 30px;
}

.pr-action-list__development-drift {
  text-align: right;
  margin-right: 3px;
}

.pr-action-list__review-drift {
  margin-left: 3px;

  svg {
    transform: scale(-1,1);
  }
}

.pr-action-list__development-drift > div,
.pr-action-list__review-drift > div {
  display: inline-block;
  width: 6px;
  height: 25px;
  padding: 9px 0;
}

.pr-action-list__severity-icon--opened-pr {
  fill: $development-color;
}

.pr-action-list__severity-icon--pr-reviewed {
  fill: $review-color;
}

.pr-action-list__item-title {
  margin: 0;
}

.pr-action-list__description {
  font-size: 0.8em;
  color: #777;
}
</style>
